/accumulate/.exercism/
/accumulate/.nrepl-port
/accumulate/project.clj
/accumulate/target/
/acronym/.exercism/
/acronym/.nrepl-port
/acronym/project.clj
/acronym/target/
/anagram/.exercism/
/anagram/.lein-failures
/anagram/project.clj
/anagram/target/
/armstrong-numbers/.exercism/
/armstrong-numbers/.nrepl-port
/armstrong-numbers/project.clj
/armstrong-numbers/target/
/atbash-cipher/.exercism/
/atbash-cipher/.nrepl-port
/atbash-cipher/project.clj
/atbash-cipher/target/
/beer-song/.exercism/
/beer-song/.nrepl-port
/beer-song/project.clj
/beer-song/target/
/binary/.exercism/
/binary/.nrepl-port
/binary/project.clj
/binary/target/
/bob/.exercism/
/bob/.nrepl-port
/bob/project.clj
/bob/target/
/collatz-conjecture/.exercism/
/collatz-conjecture/.nrepl-port
/collatz-conjecture/project.clj
/collatz-conjecture/target/
/etl/.exercism/
/etl/.nrepl-port
/etl/project.clj
/etl/target/
/flatten-array/.exercism/
/flatten-array/.nrepl-port
/flatten-array/project.clj
/flatten-array/target/
/grade-school/.exercism/
/grade-school/.nrepl-port
/grade-school/project.clj
/grade-school/target/
/grains/.exercism/
/grains/.nrepl-port
/grains/project.clj
/grains/target/
/hamming/.exercism/
/hamming/.nrepl-port
/hamming/project.clj
/hamming/target/
/hello-world/.exercism/
/hello-world/.lein-failures
/hello-world/project.clj
/hello-world/target/
/isbn-verifier/.exercism/
/isbn-verifier/.nrepl-port
/isbn-verifier/project.clj
/isbn-verifier/target/
/isogram/.exercism/
/isogram/.nrepl-port
/isogram/project.clj
/isogram/target/
/leap/.exercism/
/leap/.nrepl-port
/leap/project.clj
/leap/target/
/nucleotide-count/.exercism/
/nucleotide-count/.nrepl-port
/nucleotide-count/project.clj
/nucleotide-count/target/
/pangram/.exercism/
/pangram/.nrepl-port
/pangram/project.clj
/pangram/target/
/perfect-numbers/.exercism/
/perfect-numbers/.lein-failures
/perfect-numbers/project.clj
/perfect-numbers/target/
/phone-number/.exercism/
/phone-number/.nrepl-port
/phone-number/project.clj
/phone-number/target/
/protein-translation/.exercism/
/protein-translation/.nrepl-port
/protein-translation/project.clj
/protein-translation/target/
/proverb/.exercism/
/proverb/.nrepl-port
/proverb/project.clj
/proverb/target/
/raindrops/.exercism/
/raindrops/.nrepl-port
/raindrops/project.clj
/raindrops/target/
/reverse-string/.exercism/
/reverse-string/.lein-failures
/reverse-string/project.clj
/reverse-string/target/
/rna-transcription/.exercism/
/rna-transcription/.nrepl-port
/rna-transcription/project.clj
/rna-transcription/target/
/roman-numerals/.exercism/
/roman-numerals/.nrepl-port
/roman-numerals/project.clj
/roman-numerals/target/
/run-length-encoding/.exercism/
/run-length-encoding/.nrepl-port
/run-length-encoding/project.clj
/run-length-encoding/target/
/say/.exercism/
/say/.nrepl-port
/say/project.clj
/say/target/
/scrabble-score/.exercism/
/scrabble-score/.nrepl-port
/scrabble-score/project.clj
/scrabble-score/target/
/series/.exercism/
/series/.lein-failures
/series/project.clj
/series/target/
/space-age/.exercism/
/space-age/.nrepl-port
/space-age/project.clj
/space-age/target/
/strain/.exercism/
/strain/.nrepl-port
/strain/project.clj
/strain/target/
/sublist/.exercism/
/sublist/.nrepl-port
/sublist/project.clj
/sublist/target/
/sum-of-multiples/.exercism/
/sum-of-multiples/.nrepl-port
/sum-of-multiples/project.clj
/sum-of-multiples/target/
/triangle/.exercism/
/triangle/.nrepl-port
/triangle/project.clj
/triangle/target/
/two-fer/.exercism/
/two-fer/.nrepl-port
/two-fer/project.clj
/two-fer/target/
/word-count/.exercism/
/word-count/.nrepl-port
/word-count/project.clj
/word-count/target/
